$white-color: #fff;
$black-color: #0E1214;

$main-color: #fff;

$secondary-color: #fff;

$link-color: #007bff;
$link-hover-color: #007bff;

$s1: 0.8rem;
$s2: 1.2rem;
$s3: 1.4rem;
$s4: 1.6rem;
$s5: 1.8rem;
$s6: 2rem;
$s7: 2.2rem;
$s8: 2.4rem;
$s9: 2.6rem;
$s10: 2.8rem;
$s11: 3rem;